.home{
    background: #232e52;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 4rem;
}
.logo{
    color: #fff;
}
.introduction{
    padding-left: 2rem;
    padding-right: 2rem;
}
.introduction h2{
    color: #FFF;
    font-family: Graphik;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.56px;
    padding-bottom: 2rem;
}
.introduction p{
    color: #aaaaaa;
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
}
.introduction .products{
    text-transform: lowercase;
    color: #aaaaaa;
}
.post{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background: #EBF2FE;
    color: #232E52;
    text-align: center;
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
}
.design h1{
    color: #232E52;
    font-family: Graphik;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.design hr{
    margin-top: 0.35rem;
    color: #cccccc;
}




@media screen and (max-width:760px){
    
    .home{
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .introduction{
        text-align: center;
        padding: 0;
    }
    .introduction h2{
        font-size: 30px;
    }
    .design{
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    .logo{
        color: #fff;
        font-size: 10px;
    }
    .post{
        font-size: 12px;
    }
}