.create{
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    background: #eeeeee;
    padding: 1rem;
}
form input{
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    border: 2px solid #cccccc;
    margin-bottom: 1rem;
    outline: none;
}
label{
    font-size: 13px;
    color: #04043b;
    font-weight: 600;
}
form textarea{
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}
form button{
    background: #04043b;
    color: #fff;
    border: 0;
    border-radius: 6px;
    padding: 6px 8px;
    font-family: sans-serif;
    cursor: pointer;
    margin-left: 40%;
    margin-top: 2rem;
}


@media screen and (max-width:760px){
    form button{
        margin-left: 30%;
    }
}